
@font-face {
  font-family: "Neon Absolute Sans Regular";
  src: url("../src/fonts/NeonAbsoluteSans.ttf") format("ttf");
  /* src: 
  url("css/fonts/Harabara.woff") format("woff"),
  url("css/fonts/Harabara.otf") format("opentype"),
  url("css/fonts/Harabara.svg#filename") format("svg"); */
}


body {
  font-family: 'Neon Absolute Sans', Arial, sans-serif;
  margin: 0;
  background-color: black;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: none;
}

h1 {
  margin: 0;
}

p {
  color: white;
  font-size: 18px;
  font-family: 'Audiowide', cursive;
}

a {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 36px;
  text-decoration: none;
  margin: 0 30px;
  transition: all 400ms ease-in-out;
  text-shadow:  0 0 20px rgba(255,255,255,1),
                0 0 10px rgba(255,255,255,1);
  border: solid 1px white;
  padding: 15px 25px 10px 25px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
  text-transform: uppercase;
}
a:visited {
  color: white;
}
a:hover {
  color: #00F7FF;
  border-color: #00F7FF;
  transform: scale(1.05);
  text-shadow:  0 0 20px rgba(0,247,255,1),
                0 0 10px rgba(0,247,255,1);
  box-shadow: 0 0 20px rgba(0,247,255,0.5);
}

#title-ui {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.8);
  transition: opacity 800ms ease-in-out;
}
.transparent {
  opacity: 0;
}


#title-ui h1 {
  color: #00F7FF;
  font-size: 150px;
  font-weight: 400;
  margin-top: 5vh;
  text-shadow:  1px 1px 0px #6500FF,
                2px 2px 0px #6500FF,
                3px 3px 0px #6500FF,
                4px 4px 0px #6500FF,
                5px 5px 0px #6500FF,
                5px 5px 0px #6500FF,
                6px 6px 0px #6500FF,
                7px 7px 0px #6500FF,
                8px 8px 0px #6500FF,
                9px 9px 0px #6500FF,
                10px 10px 0px #6500FF;
}

@keyframes glow-blue {
  0% {
    text-shadow:  0 0 0px rgba(0,247,255,1);
    transform: scale(1);
  }
  50% {
    transform: scaleX(1.05);
    text-shadow:  0 0 20px rgba(0,247,255,1),
                  0 0 10px rgba(0,247,255,1);
  }
  100% {
    text-shadow:  0 0 0px rgba(0,247,255,1);
    transform: scale(1);
  }
}
#title-ui button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  color: white;
  font-size: 100px;
  font-family: 'Neon Absolute Sans', Arial, sans-serif;
  animation: glow-blue 2000ms ease-in-out infinite;
  transition: color 300ms ease-in-out;
  cursor: pointer;

  border: solid 1px #00F7FF;
  padding: 35px 55px 10px 55px;
  border-radius: 100px;
  box-shadow: 0 0 20px rgba(0,247,255,0.5);
}

#title-ui button:hover {
  color: #00F7FF;
}

.score-recap-container {
  position: absolute;
  top: 25px; right: 25px;
  background-color: rgba(255,255,255,0.2);
  padding: 15px 30px;
  border-radius: 10px;
}

.links-contianer {
  margin: 30px;
}



#hud-ui {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: opacity 800ms ease-in-out;
}


.health-bar-container {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  height: 22px; 
  width: 75vw;
  left: 12.5vw;
  bottom: 70px;
  border-radius: 15px;
  overflow: hidden;
  border: solid #0EC65D 1px;
  box-shadow: 0 0 10px 0px #0EC65D,
              0 0 20px 0px #0EC65D;
  padding: 4px;
}
#current-health {
  background-color: #0EC65D;
  height: 100%;
  width: 100%;
  transition: width 400ms ease-in-out;
  border-radius: 15px;
}


#game-score {
  position: absolute;
  top: 15px; right: 0;
  width: 200px;
  color: white;
  font-size: 18px;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-shadow:  0 0 10px rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}